<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile_photo.png" %>
	</div>

	<div id="content">
		<h1>Hi! I'm Ricky D!</h1>
		<p>Officially a Wyncode Alumnus.</p>
	</div>
</div>
